.wrapper {
  height: 80vh;
  width: 60vw;
  background-color: #fff;
  border-radius: 30px;
}

.inner {
  height: 100%;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
span {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 10px;
  font-weight: 600;
}

.archive {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100px;
  grid-column-gap: 20px;
  margin-bottom: 30px;
  margin-left: 50px;

  .cell {
    background-color: var(--color-author-background);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 20px;
  }

  p {
    font-weight: 600;
    margin-left: 20px;
  }
}
p {
  margin-left: 50px;
  margin-bottom: 20px;
}
