.wrapper {
  display: grid;
  grid-template-columns: 4fr 6fr;
}

.grid-left {
  position: relative;
}

.library-icon {
  position: absolute;
  height: 20%;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loginImage {
  width: 100%;
  height: auto;
  max-height: 100vh;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  align-items: center;

  h1 {
    color: var(--color-font-bold);
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 10px;
  }

  p {
    padding-bottom: 40px;
    font-size: 1.2rem;
  }

  .small-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 20px;
  }
}
label {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 1.2rem;
}

input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #3b82f6;
}

.input-container {
  position: relative;
  padding: 0;

  input {
    width: 100%;
  }

  .fa-eye {
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    right: 4px;
    background-color: transparent;
    color: #ccc;
    border: none;
    cursor: pointer;
  }
}

hr {
  display: inline-block;
  width: 110px;
  vertical-align: middle;
  margin: 20px;
  font-size: 1.2rem;
}

.register-now {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  /* font-size: 1.7rem; */
}

.hr {
  align-self: center;
}

button {
  background-color: transparent;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin: 5px;

  &.login {
    background-color: var(--color-primary);
    font-weight: 600;
    padding: 10px 30px;
    border: none;
    margin-top: 20px;
  }

  &.facebook {
    border: 1px solid var(--color-border);
    margin-right: 30px;
    padding: 10px;
  }
  &.google {
    border: 1px solid var(--color-border);
    padding: 10px;
  }
}

.facebook-google {
  display: flex;
  justify-content: space-between;
}

.icon {
  object-fit: contain;
  height: 20px;
  border-radius: 50%;
  vertical-align: middle;
  padding: 2px;
}

.facebook {
  color: #3b82f6;
}

a {
  color: var(--color-primary);
}

@media (max-width: 1485px) {
  hr {
    display: none;
  }
}

@media (max-width: 800px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .grid-left {
    display: none;
  }
}
